.fa-facebook-square:hover
{
	color: #6a89cc;
}

.fa-instagram:hover
{
	color: #e84393;
}

.fa-phone-square:hover
{
	color: #78e08f;
}

.lang:hover
{
	color: #c0392b;
}

.fa-adjust:hover
{
	color: #f39c12;
}

.navbar-a-menu:hover
{
	color: #ff7979;

}

.fa-user-plus:hover
{
	color: #2ed573;
}

.basic:hover
{
	background-color: #2980b9;
	color: #f5f6fa;
}

.medium:hover
{
	background-color: #27ae60;
	color: #f5f6fa;
}

.premium:hover
{
	background-color: #f39c12;
	color: #f5f6fa;
}

.plus:hover
{
	background-color: #c0392b;
	color: #f5f6fa;
}

.fa-cc-visa:hover
{
	color: #16a085;
}

.fa-cc-mastercard:hover
{
	color: #e67e22;
}

.fa-cc-paypal:hover
{
	color: #2980b9;
}

.fa-btc:hover
{
	color: #f39c12;
}

.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(1.1); }


.flex-container > div:hover
{
	border: 0px;
}