.fa-facebook-square:hover
{
	color: #6a89cc;
}

.fa-instagram:hover
{
	color: #e84393;
}

.fa-phone-square-alt:hover
{
	color: #78e08f;
}

.lang:hover
{
	color: #c0392b;
}

.fa-adjust:hover
{
	color: #f39c12;
}

.navbar-a-menu:hover
{
	color: #ff7979;

}

.fa-user-plus:hover
{
	color: #2ed573;
}