.left
{
	float: left;
}

.right
{
	float: right;
}

.clear
{
	clear: both;
}

.soc-header
{
	background-color: #353b48;
	padding: 1% 5% 1% 5%;
}

.nav-li-soc
{
	display: inline-block;
	margin-right: 1em;
}

.navbar-a-soc
{
	font-family: 'BPG Banner QuadroSquare Caps';
	color: #fff;
}

.main-header
{	
	position: fixed;
	width: 100%;
	background-color: #2f3640;
	padding: 1% 15% 1% 15%;
}

.logo-menu
{	

	width: 5%;
	vertical-align: middle;
	
}

.nav-li-menu
{
	display: inline-block;
	vertical-align: middle;
	margin:0 2em;
}

.navbar-a-menu
{
	font-family: 'BPG Mrgvlovani Caps';
	color: #fff;
	font-size: 20px;

}

.nav-ul-menu
{
	  text-align: center;
}