body
{
	background-color: #2f3640;
}

.fixed
{	
	width: 100%;
}

.soc-header
{	
	background-color: #353b48;
	padding: 1% 5% 1% 5%;
}

.nav-li-soc
{
	display: inline-block;
	margin-right: 1em;
}

.navbar-a-soc
{
	font-family: 'BPG Banner QuadroSquare Caps';
	color: #fff;
}

.main-header
{	

	width: 100%;
	background-color: #2f3640;
	padding: 1% 10% 1% 10%;
}

.logo-menu
{	

	width: 5%;
	vertical-align: middle;
	
}

.nav-li-menu
{
	display: inline-block;
	vertical-align: middle;
	margin:0.5em 1.5em;
}

.navbar-a-menu , p
{
	font-family: 'BPG Mrgvlovani Caps';
	color: #fff;
	font-size: 20px;

}

.nav-ul-menu
{
	  text-align: center;
}




.flex-container {
 	display: flex;
 	flex-wrap: wrap;
  	justify-content: center;
 	background-color: #2f3640;
 	
 	padding-right: 5%;
 	padding-left: 5%;
 	margin-top: 2em;
}


.flex-container > div {
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, .7);
 	background-color: #353b48;
 	color: #353b48;

 	margin: 2%;
 	text-align: center;
 	font-size: 30px;
}

.basic
{
	flex: 2;
	color: #2f3640;
}

.medium
{
	flex: 2;
	color: #2f3640;
}

.premium
{
	flex: 2;
	color: #2f3640;
}

.plus
{
	flex: 2;
	color: #2f3640;
}

.button {
  background-color: #ecf0f1;
  border: none;
  color: #2c3e50;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8em;
  margin-bottom: 1em;
}
}

.payment-serv
{

	padding: 2% 5% 2% 5%;
	margin-top: 0.5em;


}

.nav-ul-pay
{
	text-align: center;
}

.nav-li-pay
{
	display: inline-block;
	margin-right: 1em;
	font-size: 2em;
}

.col
{
	margin: 2em;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: black;
}

/* Modal Content/Box */
.modal-content {
  background-color: #353b48;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;

  width: 80%; /* Could be more or less, depending on screen size */
  color: black;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





/* Add padding to containers */
.container {
  padding: 16px;
  background-color: #353b48;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #2f3640;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #2f3640;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #eb4d4b;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #eb4d4b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
.reg {
  color: #dcdde1;
}

.auth
{
	color :#eb4d4b;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #353b48;
  text-align: center;
}

form
{
	background-color: #353b48;
}